#contact {

  .content{
    display: flex;
    justify-content: center;

    .form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 600px;
      gap: 10px;
  
      label {
        display: grid;

        &.email{
          flex-basis: 100%;
        }

        &.first-name, &.last-name{
          flex-basis: 49%;
        }

        &.message{
          flex-basis: 100%;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .content{
      .form {
        label {
  
          &.email{
            flex-basis: 100%;
          }
  
          &.first-name, &.last-name{
            flex-basis: 100%;
          }
  
          &.message{
            flex-basis: 100%;
          }
        }
      }
    }
  }
}